.campaign-block {
  width: 94%;
  background: var(--sidebar-bg-color);
  border: 1px solid #fff;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
  border-radius: 10px;
  display: flex;
  margin: 28px 14px;
  padding: 11px 20px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.camapign-block-name {
  font-weight: 400;
  font-size: 26px;
  line-height: 35px;
  color: #fff;
}

.campaign-block-product-name {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-decoration-line: underline;
  color: #d8d4d6;
}

.campaign-block-duration {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #8b8a8a;
}
.campaign-right-card {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.campaign-kpis {
  display: flex;
  justify-content: space-between;
  /* flex-wrap: wrap; */
}

.campaign-actions {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  font-size: 12px;
  cursor: pointer;
  flex-direction: column;
}

.clicks-icon {
  width: 33px;
  height: 31px;
}
.revenue-icon {
  width: 43px;
  height: 46px;
}

.referral-icon {
  width: 37px;
  height: 46px;
}

.campaign-icon {
  width: 55px;
  height: 62px;
}


@media only screen and (max-width: 900px) {
  .campaign-block {
    /* width: 94%; */

    display: flex;
    margin: 20px 11px;
    padding: 11px 15px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .campaign-right-card {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .campaign-kpis {
    display: flex;
    justify-content: space-between;
  }
  .campaign-actions {
    display: flex;
    flex-direction: row;
    gap: 10rem;

    margin-bottom: 5px;
  }

  .campaign-actions .icon-image {
    height: 50px;
    width: 50px;
  }
}

@media only screen and (max-width: 768px) {
  .campaign-right-card {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* justify-content: space-between; */
    /* align-items: center; */
  }

  .campaign-kpis {
    display: flex;
    justify-content: space-between;
  }

  .campaign-actions {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    margin-bottom: 10px;
  }

  .campaign-actions .icon-image {
    height: 50px;
    width: 50px;
  }

  .revenue-icon {
    width: 33px;
    height: 36px;
  }
}

@media only screen and (max-width: 500px) {
  .campaign-block {
    /* width: 94%; */

    display: flex;
    margin: 20px 11px;
    padding: 11px 15px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .campaign-right-card {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .campaign-kpis {
    display: flex;
    justify-content: space-between;
  }
  .campaign-actions {
    display: flex;
    flex-direction: row;
    gap: 10rem;

    margin-bottom: 10px;
  }

  .campaign-actions .icon-image {
    height: 50px;
    width: 50px;
  }
}
