/* Pagination Component */

.campaigns {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 1%;
}

.pagination-content {
  padding-top: 25px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  bottom: 10px;
  right: 70px;

  margin-top: 20px;
  margin-right: 20px;
}

.pagination-text {
  background: rgb(19, 19, 19);
  color: #fff;
  border: 2px solid #666;
  padding: 10px 15px;
  border-radius: 5px;
  height: 45px;
  width: 115px;
  font-size: 16px;
  position: relative;
  margin: 0 5px;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.pagination-item span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.prev-btn,
.next-btn {
  background: var(--secondary-text-color);
  border: none;
  padding: 10px;
  color: rgb(239, 236, 240);
  box-shadow: 0 0 3px rgba(117, 116, 116, 0.4);
  margin: 0 10px;
  cursor: pointer;
  border-color: #b7b3b3;
}

.pagination-item.active {
  border: 1px solid #888;
  color: #888;
  pointer-events: none;
  cursor: pointer;
}

.prev-btn.disabled,
.next-btn.disabled {
  pointer-events: none;
  box-shadow: none;
  color: #999;
  cursor: pointer;
}

/* Campaign Block Component */

.campaign-block {
  width: 94%;
  background: var(--sidebar-bg-color);
  border: 1px solid #fff;
  box-shadow: 0px 4px 4px rgba(192, 191, 191, 0.343);
  border-radius: 10px;
  margin: 28px 2px;
  padding: 11px 20px;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.camapign-block-name {
  font-weight: 500;
  font-size: 19px;
  line-height: 35px;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.campaign-block-product-name {
  font-weight: 400;
  font-size: 19px;
  /* line-height: 12px; */
  text-decoration-line: underline;
  color: #d8d4d6;
  margin-bottom: 5px;
}

.campaign-block-duration {
  font-weight: 400;
  font-size: 16px;
  /* line-height: 19px; */
  color: #8b8a8a;
}

.campaign_center_links {
  padding: 10px;
  margin: 10px;
  margin-bottom: 0;
  margin-left: 0;

}

.campaign_details_links {
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 18px;
  font-size: 17px;
  text-decoration: underline;
}

.campaign-right-card {
  display: flex;
  gap: 20px;
  /* justify-content: center; */
  /* align-items: center; */
}

.campaign-kpis {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
  /* flex-wrap: wrap; */
}

.campaign-actions {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  font-size: 12px;
  cursor: pointer;
  flex-direction: column;
}

.campaign-actions div span {
  display: none;
}



@media screen and (max-width: 1480px) {
  .campaign-block {
    width: 97%;
    background: var(--sidebar-bg-color);

    margin: 20px 14px;
    padding: 11px 20px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .campaign-right-card {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .campaign-right-card {
    margin-top: 10px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }

  .campaign-kpis {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .campaign-actions {
    display: flex;
    flex-direction: column;
    gap: 1rem;

  }

  /*.campaign-actions div {
    font-size: 20px;
    font-weight: 300;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .campaign-actions div a {
    display: flex;
  }

  .campaign-actions div span {
    display: block;
  }
  .campaign-actions div span {
    display: block;
  } */
}

@media only screen and (max-width: 1050px) {
  .campaign-block {
    display: flex;
    margin: 20px 11px;
    padding: 11px 15px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .campaign-details {
    margin-bottom: 14px;
  }

  .campaign-right-card {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .campaign-kpis {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .campaign-actions {
    display: flex;
    margin-bottom: 5px;
  }

  .campaign-actions div {
    font-size: 20px;
    font-weight: 300;
    color: white;
  }

}

@media only screen and (max-width: 786px) {
  .campaign-block {
    width: 96%;
    margin: 28px 10px;
    padding: 11px 20px;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  /* .campaign-right-card {
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    align-items: center;
  } */

  .campaign-details {
    margin-bottom: 14px;
  }

  .campaign-right-card {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .campaign-kpis {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
  }

  .campaign-actions {
    display: flex;
    flex-direction: row;
    gap: 16rem;
  }

  .campaign-actions div {
    font-size: 20px;
    font-weight: 300;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .campaign-actions div a {
    display: flex;
  }

  .campaign-actions div span {
    display: block;
  }

  .revenue-icon {
    width: 33px;
    height: 36px;
  }
}

@media screen and (max-width: 500px) {
  .campaign-block {
    width: 94%;
    display: flex;
    margin: 20px 11px;
    padding: 11px 15px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .campaign-details {
    margin-bottom: 14px;
  }

  .campaign-right-card {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .campaign-kpis {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  .campaign-actions {
    display: flex;
    flex-direction: row;
    gap: 12rem;
  }

  .campaign-actions div {
    font-size: 20px;
    font-weight: 300;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* Summmary cards icons */
  .campaign-icon {
    width: 55px;
    height: 62px;
  }

  .clicks-icon {
    width: 25px;
    height: 25px;
  }

  .revenue-icon {
    width: 33px;
    height: 36px;
  }

  .referral-icon {
    width: 30px;
    height: 40px;
  }
}

@media screen and (max-width: 380px) {
  .campaign-actions {
    display: flex;
    flex-direction: row;
    gap: 5rem;
  }

  .campaign-kpis {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}