.home-container {
  margin-top: 2.8rem;
  width: 100%;
  margin-left: 2%;
  /* min-width: calc(100vw - 250px); */
  padding: 15px 1px;
  overflow: auto;
  overflow: hidden;
  margin-right: 12px;
}

.summary-blocks {
  display: flex;
  /* justify-content: space-between; */
  /* flex-wrap: wrap; */
  /* margin: 20px; */
  margin-left: 2px;
  margin-right: 40px;
}

.single-chart {
  max-width: 90%;
  margin-left: 1.1%;
}

.dual-charts,
.dual-charts-light {
  max-width: 100%;
  max-height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.dual-charts div.chart {
  width: 44%;
  margin: 15px 1%;
}

.dual-charts-light div.chart-light {
  width: 44%;
  margin: 15px 1%;
}

.dual-charts .No-data-section,
.dual-charts-light .No-data-section {
  padding: 20px 30px;
  margin: 0 10px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-right: 2%;
}


.dual-charts .No-data-card {
  background-color: var(--secondary-text-color);
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  color: #fff;
}

.dual-charts-light .No-data-card {
  background-color: #fbfbfb;
  color: #2a2929;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.No-data-card {
  width: 600px;
  height: 450px;
  margin-top: 20px;
  border-radius: 12px;
  padding: 25px 7rem;
  word-break: keep-all;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media screen and (max-width: 1480px) {
  .home-container {
    padding: 15px 10px;
    margin-left: 2%;
  }

  .summary-blocks {
    margin-left: 2%;
  }

  .single-chart {
    margin-left: 2%;
  }

  .dual-charts div.chart {
    margin: 15px 2%;
  }
}

@media screen and (max-width: 1050px) {
  .home-container {
    padding: 5px 10px;
    margin-top: 15px;
    margin-bottom: 50px;
  }
  .summary-blocks {
    margin-left: 1px;
  }
}

@media screen and (max-width: 768px) {
  .home-container {
    padding: 5px 10px;
    margin-top: 15px;
    margin-bottom: 50px;
  }
  .summary-blocks {
    margin-left: 1px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4px;
    row-gap: 4px;
  }

  .single-chart {
    max-width: 98%;
    margin-left: 0;
  }
  .dual-charts div.chart {
    width: 100%;
    margin: 20px 2%;
  }
}

@media screen and (max-width: 500px) {
  .home-container {
    padding: 0px;
    margin-left: 0%;
    margin-right: 1.5%;
    /* margin-bottom: 50px; */
  }
  .summary-blocks {
    margin-left: 1px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 13px;
  }

  .dual-charts {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 390px) {
  .home-container {
    padding: 5px 10px;
    margin-top: 15px;
    margin-bottom: 50px;
  }
  .summary-blocks {
    margin-left: 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
  }

  .single-chart {
    max-width: 98%;
    margin-left: 4px;
  }
  .dual-charts div.chart {
    width: 100%;
    margin: 20px 2%;
  }
}
