.home-container h2,
.home-container-light h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 20px;
  margin-top: 20px;
}

.home-container-light h2 {
  color: #1b1a21;
  font-weight: 600;
}
.intro-section,
.about-section,
.contact-us-section,
.intro-section-light,
.about-section-light,
.contact-us-section-light {
  padding: 20px 30px;
  margin: 0 30px;
  padding: 0 20px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-right: 2%;
}

.intro-section-light,
.about-section-light,
.contact-us-section-light {
  color: #1b1a21;
}

.about-section {
  align-items: flex-start;
}

.contact-us-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-card,
.about-card,
.contact-us-card,
.intro-card-light,
.about-card-light,
.contact-us-card-light {
  width: 600px;
  height: 300px;
  margin-top: 20px;
  background: #1b1a21;
  border-radius: 12px;
  padding: 25px 7rem;
  word-break: keep-all;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.intro-card-light,
.about-card-light {
  background-color: #fff;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.intro-img img {
  height: 260px;
  z-index: 1000;
  /* background-color: rgba(255, 251, 251, 0.235); */
  box-shadow: 0 3px 10px rgb(255 240 251 / 0.2);

  border-radius:20px;
  -webkit-border-radius:20px;
  -moz-border-radius:20px;
  -ms-border-radius:20px;
  -o-border-radius:20px;
}

.about-img img {
  height: 340px;
}

.about-card {
  height: 300px;
  /* width: 600px; */
}

.about-img,
.intro-img {
  height: auto;
  position: relative;
  width: 400px;
}

.contact-us-card, .contact-us-card-light {
  background-color: #ccc7f8;
  height: 300px;
  color: #4f4f4f;
  padding: 25px 5rem;
  text-align: center;
}

@media screen and (max-width: 1480px) {
  .intro-section,
  .about-section,
  .contact-us-section {
    padding: 20px;
    margin: 25px;
    margin-bottom: 0;
  }

  .intro-img img {
    height: 230px;
    z-index: 1000;
  }

  .about-img img {
    height: 310px;
  }

  .about-card {
    height: 300px;
    /* width: 600px; */
  }

  .intro-card,
  .about-card,
  .contact-us-card {
    width: 550px;
    padding: 25px 3rem;
    font-size: 27px;
  }

  .contact-us-card {
    padding: 25px 4rem;
  }
}

@media screen and (max-width: 1280px) {
  .home-container h2 {
    font-size: 24px;
  }

  .intro-section,
  .about-section,
  .contact-us-section {
    padding: 17px;
    margin: 16px;
    margin-right: 0%;
  }

  .intro-card,
  .about-card,
  .contact-us-card {
    width: 400px;
    padding: 10px 1.5rem;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contact-us-card {
    padding: 13px 3.5rem;
    height: 200px;
    width: 500px;
  }
}

@media screen and (max-width: 1050px) {
  .intro-section,
  .about-section,
  .contact-us-section {
    padding: 17px;
    margin: 20px;
    color: #fff;
    display: flex;
    margin-right: 0%;
  }

  .intro-img img {
    height: 220px;
    z-index: 1000;
  }

  .about-img img {
    height: 280px;
  }

  .about-card {
    height: 300px;
    /* width: 600px; */
  }

  .intro-card,
  .about-card,
  .contact-us-card {
    padding: 10px 1rem;
    font-size: 19px;
  }

  .contact-us-card {
    height: 200px;
    padding: 10px;
  }
}

@media screen and (max-width: 786px) {
  .intro-section,
  .about-section,
  .contact-us-section {
    padding: 12px;
    margin: 14px;
    margin-left: 2%;
  }

  .intro-card,
  .about-card,
  .contact-us-card {
    padding: 10px 1.5rem;
    font-size: 17px;
  }

  .contact-us-card {
    height: 170px;
    width: 400px;
    padding: 10px;
  }

  .about-card,
  .intro-card {
    height: 220px;
  }

  .intro-section img,
  .about-section img {
    height: 130px;
    width: 200px;
  }
}

@media screen and (max-width: 500px) {
  .home-container h2 {
    font-size: 17px;
  }

  .intro-section,
  .about-section,
  .contact-us-section {
    padding: 17px;
    margin: 20px;
    color: #fff;
    display: flex;
    flex-direction: column-reverse;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin-right: 0%;
  }

  .intro-card,
  .about-card,
  .contact-us-card {
    height: 200px;

    padding: 10px 1rem;
    font-size: 19px;
  }

  .contact-us-card {
    height: 200px;
    padding: 10px;
  }

  .intro-section img,
  .about-section img {
    height: 200px;
    width: 250px;
  }
}
