@import url('https://fonts.googleapis.com/css2?family=Lalezar&family=Lato&display=swap');

.section-layout {
  display: flex;
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box;
}

/* none */

.section-layout.none {
  flex-direction: column;
}

.none-parent-container {
  min-width: 98.9vw;
  min-height: 100vh;
}

.none {
  display: flex;
  flex-direction: column;
}

/* horizontal layout */

.section-layout.horizontal {
  flex-direction: column;
}

.three-fourth {
  min-width: 98.9vw;
  min-height: 60vh;
}

.one-fourth {
  min-width: 98.9vw;
  min-height: 40vh;
}

  min-height: 40vh;
}

.half {
  min-width: 50vw;
  min-height: 100vh;
}

.spaced-evenly {
  justify-content: space-evenly !important;
}

.spaced {
  text-align: center;
}

#form-submission {
  display: flex;
  flex-direction: column;
}

.email-input-product-prelaucher {
  border-radius: 45px;
  min-height: 50px;
  width: 40vw;
  font-size: 20px;
  padding: 3%;
  border: none;
  margin-bottom: 10px;
}

.email-input-product-prelaucher:hover {
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, .4);
}

input[type='email']:focus {
  box-shadow: none;
}

.submit-button-product-prelaunch {
  border-radius: 45px;
  margin: 10px auto;
}

@media screen and (max-width: 600px) {
  .header_text {
    text-align: center;
  }

  .email-input-product-prelaucher {
    width: 100%;
  }

  input {
    text-align: center;
  }

  ::-webkit-input-placeholder {
    text-align: center;
  }

  :-moz-placeholder {
    text-align: center;
  }

}