@import url('https://fonts.googleapis.com/css2?family=Lalezar&family=Lato&display=swap');

/* general settings */

.section-layout {
  display: flex;
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box;
}

.refferal-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 50%;
}

.referral-link-inp {
  border-radius: 4px;
  min-height: 50px;
  width: 100%;
  font-size: 20px;
  padding: 1.5%;
  border: none;
  margin: 8px auto;
}

input[type='text']:focus {
  outline: none;
  box-shadow: none;
}

.copy-link-btn {
  border-radius: 4px;
  position: absolute;
  right: 0;
  cursor: pointer;
  min-height: 50px;
  width: 20%;
  padding: 1.5%;
}

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 5rem;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

.socials {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
}

.socials a > svg {
  padding: 1.4rem;
  width: 50px;
  cursor: pointer;
  height: 50px;
}

.gift-layout {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.none-gift-layout {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.friends-joined {
  font-size: 24px;
  font-weight: 600;
  margin: 5vh 0;
}

/* ============================== horizontal layout ============================== */

.section-layout.horizontal {
  flex-direction: column;
}

.full {
  width: 100vw;
  height: 50vh;
}

.timeline-group {
  width: 90%;
  display: flex;
}

.timeline-headers {
  margin: 2vh 2vh;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.timeline-headers div {
  font-size: 20px;
  font-weight: 600;
  margin: 0 0 40px 0;
}

.timeline {
  margin: 10vh 0 0 0;
  height: 5px;
  width: 95%;
  background-color: #ccc;
  display: flex;
  flex-direction: column;
}

.timeline-progress {
  height: 100%;
  background-color: #011936;
  width: 18%;
}

.timeline-items {
  margin-top: -65px;
}

.timeline-item-block {
  display: flex;
  flex-direction: column;
}

.reward-targets {
  display: flex;
  justify-content: space-around;
}

.reward-target {
  width: 40px;
  height: 40px;
  border-radius: 45px;
  text-align: center;
  font-size: 22px;
  font-weight: 600;
}

.referral-count-achieved {
  position: relative;
  top: 1vh;
  left: 16vh;
  width: 35px;
  height: 35px;
  border-radius: 45px;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  line-height: 34px;
}

.referral-count-detail {
  position: absolute;
  top: -56px;
  left: 15px;
  background-color: #011936;
  color: #fff;
  transform: translateX(-50%);
  width: 130px;
  padding: 5px 10px;
  border-radius: 15px;
  text-align: center;
  font-size: 10px;
  height: 54px;
  font-weight: normal;
  line-height: 22px;
}

.rewards {
  display: flex;
  justify-content: space-around;
}

.reward-item-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reward-item-detail img {
  width: 55px;
  height: 55px;
}

.reward-item-detail span {
  font-size: 14px;
  font-weight: bold;
}

/* .reward-contain {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: #011936;
  width: 100px;
  padding: 5px 10px;
  border-radius: 15px;
  text-align: center;
  color: #ccc;
} */

}

.friend-count {
  display: flex;
  justify-content: space-around;
  width: 70%;
}

.friend-count p {
  background-color: #000;
  color: white;
  display: inline;
  border-radius: 5rem;
  width: 32px;
  height: 32px;
  padding: 0.2rem;
  text-align: center;
}

.vertical-timeline {
  /* margin: 0 0 50px; */
  width: 5px;
  height: 50%;
  background-color: #ccc;
}

.vertical-timeline-progress {
  width: 100%;
  background-color: #011936;
}

.vertical-timeline-items {
  margin-left: -5px;
  margin-right: -5px;
  margin-top: -12px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.vertical-timeline-item {
  position: relative;
  background-color: #011936;
  width: 50px;
  height: 50px;
  border-radius: 45px;
  color: #ccc;
}

.vertical-timeline-contain {
  position: absolute;
  top: -75px;
  left: 200%;
  transform: translateX(-50%);
  background-color: #011936;
  /* width: 100px; */
  margin: 10px;
  padding: 5px 10px;
  border-radius: 15px;
  text-align: center;
  color: #ccc;
}

.vertical-timeline-item .vertical-timeline-contain {
  color: #fff;
  background-color: #011936;
}

.vertical-timeline-item-name {
  position: relative;
  top: -3vh;
  left: 24vw;
}

.vertical-timeline-item-block {
  position: relative;
  left: -12vw;
}

.right-side {
  left: 73vw !important;
}

.vertical .sometext {
  padding-bottom: 0;
}

.vertical-timeline-headers {
  font-weight: 600;
  font-size: 20px;
  display: flex;
  width: 60%;
  justify-content: space-between;
  position: relative;
  bottom: -50px;
}

.vertical-timeline-item-detail {
  position: absolute;
  top: -75px;
  transform: translateX(-50%);
  background-color: #011936;
  width: 200px;
  padding: 5px 10px;
  border-radius: 15px;
  text-align: center;
}

.vertical-timeline-item .vertical-timeline-item-detail {
  color: #fff;
  background-color: #011936;
}

.vertical.spaced {
  width: 100%;
}

.refferal-container {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  background: #fff;
  min-height: 55px;
  width: 40vw;
  padding: 0 5px;
  border-radius: 5rem;
  border: none;
  margin-bottom: 10px;
}

.refferal-container:hover {
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, .4);
}

.referral-link-inp {
    width: 100%;
    height: 100%;
    background: #fff;
    border: 1px solid #000;
    font-size: 15px;
    border-radius: 5rem;
    padding: 1.2rem;
}

input[type='text']:focus {
  border: none;
  box-shadow: none;
}


input[value] {
  color: #4A3B2A;
}

@media screen and (max-width: 600px) {
  .refferal-container {
    width: 80%;
    height: 100%;
    margin: 2%;
  }
}

.copy-link-btn {
  color: white;
  background: #4A3B2A;
  border-radius: 5rem;
  border: none;
  position: absolute;
  right: 0;
  cursor: pointer;
  height: 100%;
  width: 25%;
}

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 5rem;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}

.socials {
  display: flex;
  flex-direction: row;
}

.socials a>svg {
  padding: 1rem;
  width: 3.8rem;
  cursor: pointer;
  fill: #4A3B2A;
}
