.short-summary-card {
  width: 140px;
  height: 50px;
  background: var(--sidebar-bg-color);
  border: 1px solid var(--main-text-color);
  border: 1px solid #fcfcfc;
  box-shadow: 0px 4px 4px #989898;
  border-radius: 10px;
  margin: 10px 14px;
  display: flex;
  padding: 4px 15px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.short-summary-card-value {
  font-weight: 700;
  font-size: 17px;
  line-height: 42px;
  color: var(--primary-color);
}

.short-summary-card-icon {
  height: 26px;
  width: 25px;
}

@media only screen and (max-width: 1050px) {
  .short-summary-card {
    width: 110px;
    margin: 10px 5px;
    display: flex;
    padding: 4px 13px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .short-summary-card-value {
    font-size: 17px;
    font-weight: 700;
  }

  /* .short-summary-card-icon {
    height: 25px;
    width: 25px;
  } */

  .short-summary-card .revenue-icon {
    width: 27px;
    height: 26px;
  }

  .short-summary-card .referral-icon {
    width: 37px;
    height: 26px;
  }


  .short-summary-card .clicks-icon {
    height: 26px;
    width: 28px;
  }
}

@media only screen and (max-width: 786px) {
  .short-summary-card {
    width: 140px;
    gap: 10px;
    padding: 10px 10px;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px 4px;
  }

  .short-summary-card-value {
    font-size: 29px;
  }
}

@media only screen and (max-width: 500px) {
  .short-summary-card {
    width: 70px;
    height: 105px;
    margin: 10px 18px;
    display: flex;
    padding: 13px 8px;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-items: center;
  }

  .short-summary-card-value {
    font-size: 21px;
  }
}

@media only screen and (max-width: 380px) {
  .short-summary-card {
    width: 200px;
    height: 70px;
    margin: 10px;
    padding: 10px;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    /* align-items: center; */
  }
}