.summary-card {
  width: 250px;
  height: 117px;
  background: var(--secondary-text-color);
  border: 1px solid #dcd9d9;
  box-shadow: 0px 4px 4px #313131;
  border-radius: 10px;
  margin: 10px 14px;
  display: flex;
  padding: 15px;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  flex-wrap: wrap;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.summary-card-value {
  font-weight: 800;
  font-size: 32px;
  line-height: 48px;
  color: var(--primary-color);
}

.summary-card-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  color: var(--primary-color);
}

.revenue-icon {
  width: 37px;
  height: 46px;
}

.referral-icon {
  width: 37px;
  height: 46px;
}

.campaign-icon {
  width: 55px;
  height: 62px;
}

.clicks-icon {
  height: 33px;
  width: 31px;
}

@media only screen and (max-width: 1480px) {
  .summary-card {
    width: 250px;
    height: 110px;
    padding: 10px;
  }

  .summary-card-value {
    font-weight: 700;
    font-size: 26px;
    line-height: 38px;
  }

  .summary-card-title {
    font-size: 21px;
  }

  .clicks-icon {
    width: 30px;
    height: 26px;
  }

  .revenue-icon {
    width: 32px;
    height: 30px;
  }

  .referral-icon {
    width: 32px;
    height: 40px;
  }

  .campaign-icon {
    width: 55px;
    height: 62px;
  }
}

@media only screen and (max-width: 1280px) {
  .summary-card {
    width: 250px;
    height: 110px;
    padding: 10px;
  }

  .summary-card-value {
    font-weight: 700;
    font-size: 26px;
    line-height: 38px;
  }

  .summary-card-title {
    font-size: 21px;
  }

  .clicks-icon {
    width: 30px;
    height: 26px;
  }

  .revenue-icon {
    width: 32px;
    height: 30px;
  }

  .referral-icon {
    width: 32px;
    height: 40px;
  }

  .campaign-icon {
    width: 55px;
    height: 62px;
  }
}

@media only screen and (max-width: 1050px) {
  .summary-card {
    width: 25%;
    height: 90px;
    padding: 10px 14px;
  }

  .summary-card-value {
    font-weight: 600;
    font-size: 23px;
    line-height: 38px;
  }

  .summary-card-title {
    font-size: 17px;
  }

  .clicks-icon {
    width: 30px;
    height: 26px;
  }

  .revenue-icon {
    width: 32px;
    height: 30px;
  }

  .referral-icon {
    width: 32px;
    height: 40px;
  }

  .campaign-icon {
    width: 55px;
    height: 62px;
  }
}

@media only screen and (max-width: 686px) {
  .summary-card {
    width: 200px;
    height: 100px;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    justify-content: center;
    /* align-items: center; */
  }

  .summary-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .summary-card-value {
    font-weight: 700;
    font-size: 26px;
    line-height: 38px;
  }

  .summary-card-title {
    font-size: 21px;
  }

  .clicks-icon {
    width: 43px;
    height: 48px;
  }

  .revenue-icon {
    width: 32px;
    height: 40px;
  }

  .referral-icon {
    width: 32px;
    height: 40px;
  }

  .campaign-icon {
    width: 55px;
    height: 42px;
  }
}

@media only screen and (max-width: 500px) {
  .summary-card {
    width: 146px;
    height: 150px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding: 13px;
    margin: 10px;
  }

  .summary-details {
    display: flex;
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
  }

  .summary-card-title {
    font-size: 20px;
    font-weight: 500;
  }

  .summary-card-value {
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
  }

  .clicks-icon {
    width: 33px;
    height: 38px;
  }

  .revenue-icon {
    width: 32px;
    height: 30px;
  }

  .referral-icon {
    width: 32px;
    height: 40px;
  }

  .campaign-icon {
    width: 55px;
    height: 62px;
  }
}

@media only screen and (max-width: 390px) {
  .summary-card {
    gap: 10px;
    width: 130px;
    padding: 5px;
    margin: 10px 0;
  }

  .summary-card-title {
    font-size: 17px;
  }

  .summary-card-value {
    font-size: 21px;
  }
}