.summary-card, .summary-card-light {
  width: 100%;
  /* height: 117px; */
  background: var(--secondary-text-color);
  border: 1px solid #dcd9d9;
  box-shadow: 0px 4px 4px #313131;
  border-radius: 10px;
  margin: 10px 14px;
  display: flex;
  padding: 20px;
  align-items: center;
  /* justify-content: space-between; */
  /* gap: 5px; */
  /* flex-wrap: wrap; */
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}


.summary-card-light{
  background: #EBF0F2;
  border: 1px solid #141414;
  box-shadow: 0px 4px 4px #4b4949;
}

.summary-details {
  flex: 1;
  color: var(--primary-color);

}


.summary-details-light{
  flex:1;
  color:#141414;
}
.summary-card-value {
  font-weight: 800;
  font-size: 32px;
  line-height: 48px;
}

.summary-card-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
}

.revenue-icon {
  width: 35px;
  height: 45px;
}

.referral-icon {
  width: 37px;
  height: 46px;
}

.campaign-icon {
  width: 45px;
  height: 55px;
}

.clicks-icon {
  height: 26px;
  width: 30px;
}

@media only screen and (max-width: 1480px) {
  .summary-card {
    width: 250px;
    height: 110px;
    padding: 10px;
  }

  .summary-card-value {
    font-weight: 700;
    font-size: 26px;
    line-height: 38px;
  }

  .summary-card-title {
    font-size: 21px;
  }

  .clicks-icon {
    width: 30px;
    height: 26px;
  }

  .revenue-icon {
    width: 32px;
    height: 30px;
  }

  .referral-icon {
    width: 32px;
    height: 40px;
  }

  .campaign-icon {
    width: 45px;
    height: 50px;
  }
}

@media only screen and (max-width: 1280px) {
  .summary-card, .summary-card-light {
    width: 250px;
    height: 110px;
    padding: 10px;
  }

  .summary-card-value {
    font-weight: 700;
    font-size: 26px;
    line-height: 38px;
  }

  .summary-card-title {
    font-size: 21px;
  }

  .clicks-icon {
    width: 30px;
    height: 26px;
  }

  .revenue-icon {
    width: 32px;
    height: 30px;
  }

  .referral-icon {
    width: 32px;
    height: 40px;
  }

  .campaign-icon {
    width: 55px;
    height: 62px;
  }
}

@media only screen and (max-width: 1050px) {
  .summary-card,.summary-card-light {
    width: 25%;
    height: 90px;
    padding: 10px 14px;
  }

  .summary-card-value {
    font-weight: 600;
    font-size: 23px;
    line-height: 38px;
  }

  .summary-card-title {
    font-size: 17px;
  }

  .clicks-icon {
    width: 30px;
    height: 26px;
  }

  .revenue-icon {
    width: 32px;
    height: 30px;
  }

  .referral-icon {
    width: 32px;
    height: 36px;
  }

  .campaign-icon {
    width: 42px;
    height: 42px;
  }
}

@media only screen and (max-width: 786px) {
  .summary-card, .summary-card-light {
    width: 200px;
    height: 100px;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    justify-content: center;
    /* align-items: center; */
  }

  .summary-details, .summary-details-light {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .summary-card-value {
    font-weight: 700;
    font-size: 26px;
    line-height: 38px;
  }

  .summary-card-title {
    font-size: 21px;
  }

  .clicks-icon {
    width: 23px;
    height: 23px;
  }

  .revenue-icon {
    width: 32px;
    height: 30px;
  }

  .referral-icon {
    width: 27px;
    height: 30px;
  }

  .campaign-icon {
    width: 28px;
    height: 32px;
  }
  .summary-card-icon {
    margin-top: 10px; /* Add spacing between value/title and icon on smaller screens */
    margin-left: 0; /* Reset left margin for the icon */
  }
}

@media only screen and (max-width: 500px) {
  .summary-card,.summary-card-light {
    width: 146px;
    height: 150px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding: 13px;
    margin: 10px;
  }

  .summary-details, .summary-details-light {
    display: flex;
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
  }

  .summary-card-title {
    font-size: 20px;
    font-weight: 500;
  }

  .summary-card-value {
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
  }

  .clicks-icon {
    width: 33px;
    height: 38px;
  }

  .revenue-icon {
    width: 22px;
    height: 20px;
  }

  .referral-icon {
    width: 32px;
    height: 40px;
  }

  .campaign-icon {
    width: 35px;
    height: 32px;
  }
}

@media only screen and (max-width: 390px) {
  .summary-card, .summary-card-light {
    gap: 10px;
    width: 130px;
    padding: 5px;
    margin: 10px 0;
  }

  .summary-card-title {
    font-size: 16px;
    font-weight: 700;
  }

  .summary-card-value {
    font-size: 21px;
    font-weight: 700;
  }
  .clicks-icon {
    width: 33px;
    height: 38px;
  }

  .revenue-icon {
    width: 26px;
    height: 20px;
  }

  .referral-icon {
    width: 32px;
    height: 30px;
  }

  .campaign-icon {
    width: 32px;
    height: 32px;
  }
}
