.new-campaign-container {
  color: var(--primary-color);
  padding: 25px;
  margin: 25px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*------------------- Navbar ------------------- */

.newcampaign-section {
  background-color: #1b1a21;
  padding: 15px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.new-campaign-container nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.nav-title {
  font-weight: 700;
  font-size: 30px;
}

.saveFormBtn,
.nextBtn {
  height: 60px;
  width: 200px;
  background-color: var(--secondary-color);
  border: none;
  color: white;
  float: right;
  cursor: pointer;
  font-size: 22px;
  font-weight: 500;
  margin-top: 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.nextBtn {
  height: 40px;
  width: 110px;
  font-size: 23px;
}

/* Basic Form Sections */
.newcampaign-form-heading {
  font-weight: 700;
  font-size: 29px;
  margin-bottom: 24px;
  margin-left: 10px;
}

.basic-settings-form {
  display: flex;
  justify-content: space-around;
}

.basic-settings-form .form-group {
  display: flex;
  gap: 30px;
}

.form-group {
  display: flex;
  justify-content: space-around;
}

/* Labels */

label {
  font-size: 23px;
  font-weight: 500;
  margin: 10px 0;
  color: rgb(245, 239, 239);
}

/* Input Fields inside the form */
.campaign-form .input-form-groups input {
  background-color: #25242d;
  border: none;
  padding: 25px 10px;
  border-radius: 12px;
  height: 50px;
  color: white;
  width: 450px;
  font-size: 23px;
  font-weight: 500;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.datepicker-input {
  padding-left: 10px;
}

.wrapper {
  position: relative;
}

.icon {
  height: 1.5rem;
  width: 1.5rem;
  color: #fff;
  padding: 4px;
  position: absolute;
  box-sizing: border-box;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
}

.icon:hover {
  cursor: pointer;
}

.example-custom-input {
  height: 50px;
  box-sizing: border-box;
  padding-right: 1.9rem;
  background-size: 20px;
  color: #fff;
}

.example-custom-input:focus-visible {
  border-bottom-color: #e3dee0;
  outline: none;
}

/* Store Social Links inside camapign form Section */

.store-links {
  padding: 0 40px;
  margin-top: 20px;
}

.store-links .sub-heading {
  padding: 0 20px;
  margin: 0 25px;
  margin-bottom: 30px;
}

.campaign-form .store-links .store-social-links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-left: 50px;
}

.campaign-form .store-links .social-input-form {
  display: flex;
  gap: 10px;
  align-items: center;
}

.campaign-form .store-links .social-input {
  height: 20px;
  width: 20px;
}

.store-social-icons {
  font-size: 22px;
}

.campaign-form .store-links .social-inputfield {
  height: 30px;
  width: 270px;
  background-color: #25242d;
  border: none;
  color: #fff;
  padding: 10px;
}

.sub-heading {
  font-size: 24px;
  margin-top: 30px;
  font-weight: 500;
  margin-bottom: 10px;
}

/* Collect Emails */

.collect-setup {
  margin-bottom: 20px;
}

.collect-settings {
  padding-left: 40px;
  margin-left: 40px;
}
.collect-settings div {
  display: flex;
  align-items: center;
  gap: 10px;
}
.basic-settings-section {
  display: flex;
  justify-content: flex-end;
}
.collect-settings label {
  font-size: 17px;
}

.collect-settings .checkbox-input {
  height: 20px;
  width: 30px;
}

input:checked,
input[type="checkbox"]:checked {
  accent-color: var(--secondary-text-color);
  border: 1px solid var(--primary-color);
}

.edit-btn {
  height: auto;
  padding: 15px;
  word-wrap: break-word;
  width: 250px;
  background-color: var(--secondary-color);
  border: none;
  color: white;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

/* -------------------- Referral Settings -------------------------- */
/* ========================================================================== */

.basic-form-settings,
.referrals-settings,
.rewards-settings,
.integration-settings,
.template-settings {
  margin: 0 40px;
  padding: 0 30px;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.basic-form-settings h2,
.referrals-settings h2,
.rewards-settings h2,
.integration-settings h2,
.template-settings h2 {
  margin-top: 6px;
}

.title {
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 24px;
  margin-left: 10px;
}

.openBtn {
  border: none;
  background-color: transparent;
  color: #fff;
  font-weight: 700;
  font-size: 27px;
  cursor: pointer;
}

.referral-settings-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 20px;
}

.referral-container p {
  padding: 0 40px;
  margin: 0 40px;
  font-size: 18px;
  margin-bottom: 20px;
  line-height: 1.6;
}
/* Social Media Integration Sections */

.social-media-section {
  padding: 0 40px;
  margin: 0 40px;
}

.social-media-section h1 {
  font-size: 34px;
  line-height: 1.6;
  color: white;
  margin-bottom: 20px;
}

.social-links-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* justify-self: center; */
  column-gap: 25px;
  row-gap: 25px;
  width: 100%;
}

.referral-nextbtn {
  display: flex;
  justify-content: flex-end;
}

/*----------------------- Reward Tier-------------------- */

.rewards-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 50px;
  margin-bottom: 30px;
  background-color: transparent;
}

.reward-card {
  border-radius: 12px;
  background-color: #25242d;
  padding: 25px;
  margin: 25px 0;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.rewards-settings-form p {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.6;
}

.discount-settings {
  line-height: 0.9;
}

.discount-settings div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.discount-settings .social-radioInput {
  height: 20px;
  width: 30px;
}

.reward-container {
  margin: 0 40px;
  padding: 0 40px;
}

.reward-section {
  display: flex;
  justify-content: space-between;
}

.reward-setting-btn {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

/*-------------------------- Email Section---------------------------------- */
.email-container {
  padding: 0 40px;
  margin: 0 40px;
}

.email-optCheck {
  /* margin: 20px 0; */
  display: flex;
  align-items: center;
  gap: 20px;
}

.email-optCheck .checkbox-input {
  height: 30px;
  width: 30px;
}

.email-container section {
  background-color: #ebf0f2;
  color: #252525;
  padding: 25px;
  margin-bottom: 40px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.email-section {
  height: 100%;
  background-color: #ebf0f2;
}
.email-section h2 {
  padding-left: 20px;
  font-size: 29px;
  line-height: 1.4;

  margin-bottom: 20px;
  padding-bottom: 20px;
  font-weight: 700;
}
.email-section .email-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ebf0f2;
}

.email-section .email-content img {
  height: 60px;
  width: 200px;
  margin: 30px 0;
}

.email-textinput {
  width: 100%;
  border: none;
  font-size: 25px;
  color: #1a1919;
  padding: 35px;
  margin-bottom: 20px;
  background-color: #ebf0f2;
}

.email-setting-section {
  display: flex;
  justify-content: space-between;
}

/* -----------------Integration Settings-------------------- */
.integration-container {
  padding: 0 40px;
  margin: 0 40px;
}

.integration-settings-container {
  display: flex;
  justify-content: space-between;
}

.integration-container .check-input {
  display: flex;
  align-items: center;
}

.check-input input {
  height: 28px;
  margin: 10px;
  width: 25px;
  border-radius: 10px;
  background-color: transparent;
  border: 1px solid var(--primary-color);
  padding-left: 15px;
  text-indent: -15px;
}
.integration-settings-container input {
  background-color: #25242d;
  border: none;
  padding: 25px 15px;
  border-radius: 12px;
  height: 50px;
  color: white;
  width: 500px;
  font-size: 23px;
  font-weight: 500;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.select-user-input select {
  background-color: #25242d;
  border-radius: 12px;
  height: 50px;
  color: white;
  width: 500px;
  font-size: 23px;
  font-weight: 500;
  padding: 2px 10px;
  border: none;
}

.integrate-setting-btn {
  display: flex;
  justify-content: flex-end;
}

/*------------- Template Settings -------------------- */

.template-container {
  padding: 0 40px;
  margin: 0 40px;
}

.template-content p, .laststep p{
  font-size: 20.5px;
  color:#d9d9d9;
}

.template-end {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 30px;
}

.templates-block-container {
  margin: 25px 3px;
  background-color: #d9d9d9;
  padding: 20px;
}

.template-cards {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  margin: 25px 0;
}
.template-card-block {
  height: 220px;
  width: 350px;
  background-color: #fff;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}
.template-card-block h3 {
  font-size: 25px;
  font-weight: 500;
  line-height: 1.6;
  margin: 0 25px;

}

.template-card-block img {
  height: 100%;
  width: 100%;
  border-radius: 12px;

}
.template-card-block:last-child {
  background-color:#5447DF;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

/*--------------- Media Queries----------------------- */

@media screen and (max-width: 1480px) {
  .new-campaign-container {
    padding: 9px;
    margin: 20px;
  }
  .store-links {
    padding: 0 23px;
  }
  .store-links .sub-heading {
    padding: 0 10px;
    margin: 0 11px;
    margin-bottom: 30px;
  }
  .campaign-form .store-links .store-social-links {
    grid-template-columns: repeat(2, 1fr);
    margin-left: 20px;
  }

  .campaign-form .store-links .social-inputfield {
    height: 40px;
    width: 100%;
  }

  .collect-settings {
    padding-left: 10px;
    margin-left: 40px;
  }
  /* Referral Settings */

  /* Social Media Integration Sections */

  .social-media-section {
    padding: 0 30px;
    margin: 0 30px;
  }

  .social-links-container {
    grid-template-columns: repeat(2, 1fr);
  }

  /* Reward settings */

  .rewards-settings-form p {
    font-size: 18px;
  }

  .reward-container {
    padding: 0 42px;
    margin: 0 40px;
  }

  .rewards-container {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 10px;
  }
}
@media only screen and (max-width: 1050px) {
  .new-campaign-container {
    padding: 9px;
    margin: 20px;
  }

  .basic-form-settings,
  .referrals-settings,
  .rewards-settings,
  .integration-settings,
  .template-settings {
    margin: 0 13px;
    padding: 0 15px;
  }

  .nextBtn {
    height: 30px;
    width: 90px;
    font-size: 20px;
  }

  /* Basic Form Settings */

  .input-form-groups {
    margin: 0 15px;
  }

  .form-group {
    flex-direction: column;
  }
  .campaign-form .input-form-groups input {
    width: 100%;
  }
  .store-links {
    padding: 0 23px;
  }
  .store-links .sub-heading {
    padding: 0 10px;
    margin: 0 11px;
    margin-bottom: 30px;
  }
  .campaign-form .store-links .store-social-links {
    grid-template-columns: repeat(2, 1fr);
    margin-left: 20px;
  }

  .campaign-form .store-links .social-inputfield {
    height: 40px;
    width: 100%;
  }

  .collect-settings {
    padding-left: 10px;
    margin-left: 40px;
  }

  /* Reward Tier Settings */
  .referral-container p {
    padding: 0 18px;
    margin: 0 20px;
    word-wrap: break-word;
    margin-bottom: 20px;
  }
  /* Social Media Integration Sections */

  .social-media-section {
    padding: 0 8px;
    margin: 0 5px;
  }

  .social-links-container {
    grid-template-columns: repeat(2, 1fr);
  }

  /* Reward settings */

  .rewards-settings-form p {
    margin-top: 20px;
    font-size: 18px;
  }

  .reward-container {
    padding: 0 16px;
    margin: 0 23px;
  }

  .rewards-container {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 10px;
    column-gap: 20px;
  }

  /* Email Settings */
  .email-container {
    padding: 0 17px;
    margin: 0 24px;
  }

  .email-optCheck label {
    line-height: 1.3;
  }

  .email-optCheck .checkbox-input {
    width: 70px;
  }

  .email-container section {
    padding: 19px 8px;
  }
  .email-section h2 {
    padding-left: 12px;
    line-height: 1.4;
    font-size: 23px;
  }
  .email-textinput {
    width: 100%;
    border: none;
    font-size: 21px;
    color: #1a1919;
    padding: 16px;
    margin-bottom: 20px;
    background-color: #ebf0f2;
  }
}
@media only screen and (max-width: 786px) {
  .new-campaign-container {
    padding: 5px;
    margin: 15px;
  }

  .basic-form-settings,
  .referrals-settings,
  .rewards-settings,
  .integration-settings,
  .template-settings {
    margin: 0 7px;
    padding: 0 5px;
  }

  /* Basic Form Settings */

  .input-form-groups {
    margin: 0 25px;
  }

  .form-group {
    flex-direction: column;
  }
  .campaign-form .input-form-groups input {
    width: 100%;
  }

  .store-links {
    padding: 0 23px;
  }
  .store-links .sub-heading {
    padding: 0 10px;
    margin: 0 11px;
    margin-bottom: 30px;
  }
  .campaign-form .store-links .store-social-links {
    grid-template-columns: repeat(1, 1fr);
    margin-left: 20px;
  }

  .campaign-form .store-links .social-inputfield {
    height: 40px;
    width: 100%;
  }

  .collect-settings {
    padding-left: 10px;
    margin-left: 40px;
  }

  /* Reward Tier Settings */
  .referral-container p {
    padding: 0 10px;
    margin: 0 10px;
    word-wrap: break-word;
  }

  .social-media-section {
    padding: 0 5px;
    margin: 0 4px;
  }

  .social-links-container {
    grid-template-columns: repeat(1, 1fr);
  }

  /* Reward settings */

  .rewards-settings-form p {
    font-size: 18px;
  }

  .reward-container {
    padding: 0 10px;
    margin: 0 15px;
  }

  .rewards-container {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 10px;
    column-gap: 20px;
    margin-bottom: 30px;
    background-color: transparent;
  }

  /* Email Settings */
  .email-container {
    padding: 0 10px;
    margin: 0 10px;
  }

  .email-optCheck .checkbox-input {
    width: 70px;
  }

  .email-container section {
    padding: 19px 8px;
  }
  .email-section h2 {
    padding-left: 12px;
    line-height: 1.4;
    font-size: 23px;
  }
  .email-textinput {
    width: 100%;
    border: none;
    font-size: 21px;
    color: #1a1919;
    padding: 16px;
    margin-bottom: 20px;
    background-color: #ebf0f2;
  }
}

@media only screen and (max-width: 500px) {
  .new-campaign-container {
    padding: 10px 0px;
    margin: 10px 0px;
  }

  /* Basic Form Settings */
  .input-form-groups {
    margin: 0 25px;
  }

  .form-group {
    flex-direction: column;
  }
  .campaign-form .input-form-groups input {
    width: 100%;
  }

  .store-links {
    padding: 0 10px;
  }

  .store-links .sub-heading {
    padding: 0 11px;
    margin: 30px 9px;
    color: #e6dfdf;
  }
  .campaign-form .store-links .store-social-links {
    grid-template-columns: repeat(1, 1fr);
    margin-left: 20px;
  }

  .collect-settings {
    padding-left: 20px;
    margin-left: 10px;
  }
  .collect-settings div {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  /* Referral Settings */
  .referral-container p {
    padding: 0 6px;
    margin: 0 11px;
    word-break: keep-all;
  }

  .social-media-section {
    padding: 0 20px;
    margin: 0 20px;
  }
  .social-media-section {
    padding: 0 6px;
    margin: 0 4px;
  }

  /* Reward settings */

  .rewards-settings-form p {
    font-size: 18px;
  }

  .reward-container {
    padding: 0 10px;
    margin: 0 15px;
  }

  .rewards-container {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 10px;
    column-gap: 20px;
    margin-bottom: 30px;
    background-color: transparent;
  }

  /* Email Settings */
  .email-container {
    padding: 0 10px;
    margin: 0 10px;
  }
}
