.new-campaign-container {
  color: var(--primary-color);
  padding: 25px;
  margin: 25px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*------------------- Navbar ------------------- */

section {
  background-color: #1b1a21;
  padding: 25px;
  margin-bottom: 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.new-campaign-container nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.nav-title {
  font-weight: 700;
  font-size: 30px;
  /* font-size: 40px; */
}

.saveFormBtn,
.nextBtn {
  height: 60px;
  width: 130px;
  background-color: var(--secondary-color);
  border: none;
  color: white;
  float: right;
  cursor: pointer;
  font-size: 26px;
  font-weight: 500;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

/* Form Sections */
.newcampaign-form-heading {
  font-weight: 700;
  font-size: 29px;
  margin-bottom: 24px;
  margin-left: 10px;
}
.campaign-form {
  /* line-height: 20px; */
}

.basic-settings-form {
  display: flex;
  justify-content: space-around;
}

.basic-settings-form .form-group {
  display: flex;
  gap: 30px;
}

.form-group {
  display: flex;
  justify-content: space-around;
}

/* Labels */

label {
  font-size: 23px;
  font-weight: 500;
  margin: 10px 0;
  color: rgb(200, 199, 199);
}

/* Input Fields inside the form */
.campaign-form form input {
  background-color: #25242d;
  border: none;
  padding: 25px 10px;
  border-radius: 12px;
  height: 50px;
  color: white;
  width: 600px;
  font-size: 23px;
  font-weight: 500;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.datepicker-input {
  padding-left: 10px;
}

.campaign-form button a:hover {
  text-decoration: underline;
}

/* Store Social Links inside camapign form Section */

.campaign-form form .store-social-links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.campaign-form form .social-input-form {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.campaign-form form .social-input {
  height: 20px;
  width: 20px;
}

.store-social-icons {
  font-size: 22px;
}

.campaign-form form .social-inputfield {
  height: 20px;
  width: 400px;
}

.sub-heading {
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 10px;
  margin-left: 15px;
}

/* Collect Emails */

.collect-setup {
  display: flex;
  justify-content: space-between;
}
.collect-settings {
  margin-left: 20px;
}
.collect-settings div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.collect-settings label {
  font-size: 17px;

}

.edit-btn {
  height: auto;
  padding: 15px;
  word-wrap: break-word;
  width: 250px;
  background-color: var(--secondary-color);
  border: none;
  color: white;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

/* -------------------- Referral Settings -------------------------- */
/* ========================================================================== */

.basic-form-settings,
.referrals-settings,
.rewards-settings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.title {
  font-weight: 700;
  font-size: 29px;
  margin-bottom: 24px;
  margin-left: 10px;
}

.openBtn {
  border: none;
  background-color: transparent;
  color: #fff;
  font-weight: 700;
  font-size: 27px;
}

/*=------------------- Checkboxes Section -----------=  */

.check-fields {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
  margin-left: 20px;
}

.check-group {
  justify-content: center;
  align-items: center;
}

.check-group input {
  height: 28px;
  margin: 10px;
  width: 25px;
  border-radius: 10px;
  padding-right: 20px;
  background-color: transparent;
  border: 1px solid var(--primary-color);
  /* padding-left: 15px; */
  /* text-indent: -15px; */
}

input:checked,
input[type="checkbox"]:checked {
  accent-color: var(--secondary-text-color);
  border: 1px solid var(--primary-color);
}

/*--------------------------- Settings Preference------------------------ */
.settings-form {
  display: flex;
  gap: 3px;
}

.section1,
.section2 {
  padding: 30px;
  margin: 20px 0;
  width: 100%;
  margin-bottom: 35px;
  margin-right: 10px;
}

.section1 h2,
.section2 h2 {
  margin-bottom: 20px;
  font-size: 29px;
  font-weight: 700;
  margin-left: 15px;
}

/*-------------------------- Email Section---------------------------------- */

.email-section {
  height: 100%;
}
.email-section h2 {
  padding-left: 20px;
  font-size: 29px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  font-weight: 700;
}
.email-section div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(38, 38, 38);
}

.email-section div img {
  height: 60px;
  width: 200px;
  margin: 30px 0;
}

.email-textarea {
  width: 100%;
  border: none;
  font-size: 25px;
  color: #fff;
  padding: 35px;
  margin-bottom: 20px;
  background-color: rgb(38, 38, 38);
}

.wrapper {
  position: relative;
}

.icon {
  height: 1.5rem;
  width: 1.5rem;
  color: #fff;
  padding: 4px;
  position: absolute;
  box-sizing: border-box;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
}

.icon:hover {
  cursor: pointer;
}

/* .input {
  height: 50px;
  box-sizing:border-box;
  padding-left: 1.5rem;
} */
.example-custom-input {
  height: 50px;
  box-sizing: border-box;
  padding-right: 1.9rem;
  /* background: url("assets/calendar.svg") no-repeat right; */
  background-size: 20px;
  color: #fff;
}

.example-custom-input:focus-visible {
  border-bottom-color: #e3dee0;
  outline: none;
}

/* Social Integration */

/* Integration-Container */

.integration-container {
  padding: 20px;
  margin: 20px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.navtitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navtitle h1 {
  color: white;
  font-size: 28px;
  line-height: 32px;
  font-weight: 700;
}

.check-input {
  display: flex;
  justify-content: center;
  align-items: center;
}

.check-input input {
  height: 28px;
  margin: 10px;
  width: 25px;
  border-radius: 10px;
  background-color: transparent;
  border: 1px solid var(--primary-color);
  padding-left: 15px;
  text-indent: -15px;
}

.saveBtn {
  height: 60px;
  width: 130px;
  background-color: var(--secondary-color);
  border: none;
  color: white;
  cursor: pointer;
  font-size: 26px;
  font-weight: 500;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

/* Social Media Integration Sections */

.social-media-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.social-media-section h1 {
  font-size: 34px;
  line-height: 1.6;
  color: white;
  margin-bottom: 20px;
}

.social-links-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-self: center;
  column-gap: 25px;
  row-gap: 25px;
  width: 100%;
}

/*--------------- Media Queries----------------------- */

@media only screen and (max-width: 1480px) {
  .new-campaign-container {
    padding: 5px;
    margin: 10px;
  }

  .campaign-form {
    flex-direction: column;
    gap: 30px;
  }

  .campaign-form .form-group {
    display: flex;
    gap: 30px;
  }

  .form-group {
    display: flex;
    justify-content: space-around;
  }

  label {
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    margin: 20px 0;
    color: rgb(200, 199, 199);
  }

  /* Input Fields inside the form */
  .campaign-form form input {
    width: 440px;
    font-size: 20px;
  }

  .icon {
    right: 50px;
  }
}

@media only screen and (max-width: 1287px) {
  .nav-title {
    font-weight: 700;
    font-size: 20px;
  }

  .campaign-form {
    flex-direction: column;
  }

  .campaign-form .form-group {
    display: flex;
    gap: 30px;
  }

  .form-group {
    flex-direction: column;
  }

  label {
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    margin: 20px 0;
    color: rgb(200, 199, 199);
  }

  /* Input Fields inside the form */
  .campaign-form form input {
    width: 450px;
    font-size: 20px;
  }

  .campaign-form button a:hover {
    text-decoration: underline;
  }

  /* Checkboxes Section */

  .check-input {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .check-group input {
    height: 25px;
    width: 25px;
  }
  /* Settings Form */
  .settings-form {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 900px) {
  .new-campaign-container {
    padding: 15px 10px;
    margin: 15px 10px;
  }

  section {
    padding: 15px 13px;
    margin-bottom: 20px;
  }

  .nav-title {
    font-weight: 500;
    font-size: 30px;
  }

  .campaign-form form input {
    width: 400px;
    font-size: 20px;
  }

  .save-btn {
    height: 50px;
    width: 100px;
  }
  .icon {
    right: 10px;
  }

  .check-group input {
    height: 25px;
    margin: 10px;
    width: 25px;
    border-radius: 10px;
    background-color: var(--secondary-text-color);
    border: 1px solid var(--primary-color);
  }
  .check-group label {
    word-break: keep-all;
    line-height: 1.18;
  }

  .social-links-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-self: center;
    column-gap: 25px;
    row-gap: 25px;
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .new-campaign-container {
    padding: 15px 10px;
    margin: 15px 10px;
  }

  section {
    padding: 15px 10px;
    margin-bottom: 20px;
  }

  .campaign-form form input {
    width: 400px;
  }

  .nav-title {
    font-weight: 500;
    font-size: 30px;
  }

  .save-btn {
    height: 50px;
    width: 80px;
  }

  .campaign-form form input {
    width: 380px;
  }

  .check-fields {
    margin-left: 10px;
  }
}

@media only screen and (max-width: 500px) {
  .new-campaign-container {
    padding: 10px 0px;
    margin: 10px 0px;
  }

  .new-campaign-container nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 20px;
  }
  section {
    margin-bottom: 20px;
  }

  .campaign-form form input {
    width: 320px;
  }

  .nav-title {
    font-weight: 500;
    font-size: 30px;
  }

  .save-btn {
    height: 50px;
    width: 100px;
  }

  .check-fields {
    margin-left: 10px;
  }

  .integration-container {
    padding: 5px;
    margin: 5px;
  }
}
