.pricing-details {
  height: 650px;
  width: 480px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary-text-color);
  border: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;

}

.pricing-details:first-child {
  background-color: var(--secondary-color);
}

.price-detail-block {
  display: flex;
  flex-direction: column;
  padding: 5px 5px;
  margin: 5px 5px;
}

.price-detail-block h3 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.price-bottom h2 {
  font-size: 17px;
  margin: 10px 0;
  font-weight: 700;
}

.pricing-features {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}

.pricing-features p {
  font-size: 15px;
  font-weight: 500;
  margin: 10px 0;
  line-height: 1.2;
  word-break: keep-all;
}

.feature {
  display: flex;
  gap: 5px;
  align-items: center;
}

.btn-subscribe {
  height: 40px;
  background-color: rgb(233, 229, 229);
  width: 120px;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  border: none;
  align-items: center;
  text-align: center;
  border-radius: 25px;
  color: black;
  cursor: pointer;
  font-size: 18px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

@media screen and (max-width: 786px) {
  .pricing-details {

    height: 650px;
    width: 460px;
  }
}

@media screen and (max-width: 500px) {
  .pricing-details {
    height: fit-content;
    width: 270px;
  }

  .pricing-details:first-child {
    background-color: var(--secondary-color);
    color: #fff !important;
  }

  .price-detail-block {
    display: flex;
    flex-direction: column;
    padding: 5px 15px;
    margin: 5px 15px;
  }

  .price-detail-block h3 {
    font-size: 17px;

    margin-bottom: 10px;

  }

  .price-bottom h2 {
    font-size: 16px;
    margin: 15px 5PX;

  }

}