.sidebar-container {
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.sidebar-content .sidebar-logo {
  width: 160px;
  margin-top: 3px;
  background-color: transparent;
}

.close-menubtn {
  display: none;
}

.top,
.bottom {
  justify-content: center;
  align-items: center;
}

/* All Links style in Side bar */
a {
  color: inherit;
  text-decoration: none;
}

/* Logo in side Bar */

.sidebar_header {
  display: flex;
  padding: 5px 17px;
}

/* New Campaign button  */

.add-btn-link {
  margin-top: 10px;
  font-weight: 500;
  margin-left: 10px;
  margin-right: 10px;
}

.add-btn-link button {
  display: flex;
  width: 100%;
  font-weight: 500;
  padding: 5px;
  border: none;
  background-color: rgb(234, 234, 234);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.add-btn-link button:focus,
.add-btn-link button:active {
  background-color: var(--secondary-color);
  color: white;
  border: 1px solid rgb(50, 50, 50);
  display: flex;
  font-weight: 700;
  font-size: 20px;
  align-items: center;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.add-icon-text {
  display: block;
  /* font-size: 15px; */
}

.sidebar-add-btn {
  display: flex;
  justify-content: center;
  font-size: 20px;
  margin-right: 10px;
  gap: 15px;
  padding: 5px 0px;
  align-items: center;
}

/* All Pages Links in Center of Sidebar */

.top .sidebar_links {
  margin-top: 30px;
}

.top .sidebar_links div {
  color: rgb(193, 193, 193);
}

.sidebar-link-bottom a {
  margin-top: 30px;
}

.icon-img,
.sidebar-link-bottom .icon-img {
  width: 24px;
  height: 24px;
}

.icon-img img,
.bottom img {
  width: 24px;
  height: 24px;
}

.icon-text {
  display: block;
  font-weight: 500;
  font-size: 27px;
}

/* Active Link */
.activelink {
  display: flex;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #fff;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
  /* margin-left: auto; */
  background-color: var(--secondary-color);
  margin-bottom: 20px;
}

.activelink .icon-img {
  margin-left: 15px;
}

.activelink .icon-text {
  margin-left: 10px;
}

/* In-Active Links */

.top .normallink,
.bottom .normallink {
  display: flex;
  font-weight: 500;
  font-size: 19px;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  gap: 20px;
  margin-bottom: 20px;
  margin-left: 15px;
}

.bottom .normallink .icon-text {
  color: rgb(193, 193, 193);
}

/* Media Queries */

@media only screen and (max-width: 1480px) {
  .sidebar_header {
    display: flex;
    padding: 10px 5px;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
  }

  .add-btn-link button {
    padding: 5px 0px;
  }



  .sidebar-add-btn {
    display: flex;
    justify-content: center;
    font-size: 18px;
    margin-right: 10px;
    gap: 2px;
    padding: 5px 0px;
  }


  .add-icon-text {
    display: block;
    justify-content: center;
    align-items: center;
    font-size: 17.5px;
  }

  .top .normallink .icon-img,
  .bottom .sidebar-link-bottom .normallink .icon-img {
    width: 24px;
    height: 24px;
  }


  .top .normallink,
  .bottom .normallink {

    padding-top: 10px;
    padding-bottom: 10px;

  }

  .icon-text,
  .sidebar-link-bottom .icon-text {
    display: block;
    font-weight: 500;
    font-size: 20px;
  }

  .bottom .sidebar-link-bottom .normallink {
    font-size: 20px;
    align-items: center;
  }

  .icon-img,
  .sidebar-link-bottom .icon-img {
    width: 20px;
    height: 20px;
  }

  .bottom .sidebar-link-bottom .normallink .icon-text {
    font-size: 20px;
  }

  .sidebar-link-bottom a {
    margin-top: 8px;
  }

  .bottom .sidebar-link-bottom .normallink {
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 20px;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 1050px) {
  .sidebar_header {
    display: flex;
    font-size: 12px;
    padding: 8px 3px;
    justify-content: space-between;
    align-items: center;
  }

  .add-btn-link button {
    padding: 5px 0px;}

  .sidebar-add-btn {
    display: flex;
    justify-content: center;
    font-size: 16px;
    margin-right: 10px;
    gap: 2px;
    padding: 5px 0px;
  }

  .add-icon-text {
    display: block;
    justify-content: center;
    align-items: center;
    font-size: 17.5px;
  }

  .top .normallink .icon-img,
  .bottom .sidebar-link-bottom .normallink .icon-img {
    width: 24px;
    height: 24px;
  }
  .top .normallink,
  .bottom .normallink {

    padding-top: 6px;
    padding-bottom: 6px;

  }
  .icon-text,
  .sidebar-link-bottom .icon-text {
    display: block;
    font-weight: 500;
    font-size: 20px;
  }

  .bottom .sidebar-link-bottom .normallink {
    font-size: 20px;
    align-items: center;
  }

  .icon-img,
  .sidebar-link-bottom .icon-img {
    width: 20px;
    height: 20px;
  }

  .bottom .sidebar-link-bottom .normallink .icon-text {
    font-size: 17px;
  }

  .sidebar-link-bottom a {
    margin-top: 8px;
  }

  .bottom .sidebar-link-bottom .normallink {
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 20px;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 786px) {
  .sidebar_header {
    display: flex;
    padding: 10px 5px;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
  }

  .close-menubtn {
    display: block;
  }

  .icon-img {
    width: 22px;
    height: 22px;
  }

  .icon-img img {
    width: 24px;
    height: 24px;
  }

  .icon-text,
  .sidebar-link-bottom .icon-text {
    display: block;
    font-weight: 500;
    font-size: 22px;
  }

  .top .normallink,
  .bottom .sidebar-link-bottom .normallink {
    font-size: 22px;
    align-items: center;
  }

  .bottom .sidebar-link-bottom .normallink .icon-text {
    font-size: 19px;
  }

  .sidebar-link-bottom a {
    margin-top: 8px;
  }

  .bottom .sidebar-link-bottom .normallink {
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 20px;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 500px) {
  .sidebar_header {
    display: flex;
    padding: 10px 5px;

    /* justify-content: space-between; */
    /* align-items: center; */
    /* margin-left: 20px; */
  }

  .close-menubtn {
    display: block;
  }

  .icon-text {
    display: block;
    font-weight: 500;
    font-size: 21px;
  }

  /* .top .normallink, */
  .bottom {
    /* display: flex; */
    font-weight: 500;
    font-size: 15px;
    align-items: center;
    padding-top: 2px;
    padding-bottom:1.5px;
    gap: 20px;
    margin-bottom: 20px;
    /* margin-left: 20px; */
  }

  /* Active Link */
  .activelink {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 14px;
  }

  .sidebar-link-bottom a {
    margin-top: 5px;
  }

  /* In-Active Links */

  .top .normallink,
  .bottom .normallink {
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}