.sidebar-container {
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}


.sidebar-content .sidebar-logo {
  width: 170px;
  margin-top: 15px;
  margin-bottom: 10px;
  margin-left: 10px;
  background-color: transparent;
  margin-bottom: 20px;
}

.close-menubtn {
  display: none;
}

.top,
.bottom {
  justify-content: center;
  align-items: center;
}

/* All Links style in Side bar */
a {
  color: inherit;
  text-decoration: none;
}

/* Logo in side Bar */

.sidebar_header {
  display: flex;
  padding: 5px 17px;
}

/* New Campaign button  */


.btn-link-add {
  display: flex;
  padding: 10px;
  margin: 10px 5px;
}

.add-button {
  border: none;
  padding: 7px 14px;
  display: flex;
  border-radius: 5px;
  font-size: 22px;
  font-weight: 500;
}

.add-button p {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  gap: 10px;
}

.add-btn-icon {
  margin-top: 5px;
  height: 30px;
  width: 30px;
  font-weight: bold;
}


/* All Pages Links in Center of Sidebar */

.top .sidebar_links {
  margin-top: 14px;
}

.top .sidebar_links div {
  color: rgb(193, 193, 193);
}

.sidebar-link-bottom a {
  margin-top: 30px;
}

.icon-img,
.sidebar-link-bottom .icon-img {
  width: 24px;
  height: 24px;
}

.icon-img img,
.bottom img {
  width: 24px;
  height: 24px;
}

.icon-text {
  display: block;
  font-weight: 500;
  font-size: 27px;
}

/* Active Link */
.activelink {
  display: flex;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #fff;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
  /* margin-left: auto; */
  background-color: var(--secondary-color);
  margin-bottom: 20px;
}

.activelink .icon-img {
  margin-left: 15px;
}

.activelink .icon-text {
  margin-left: 10px;
}

/* In-Active Links */

.top .normallink,
.bottom .normallink {
  display: flex;
  font-weight: 500;
  font-size: 19px;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  gap: 20px;
  margin-bottom: 20px;
  margin-left: 15px;
}

.bottom .normallink .icon-text {
  color: rgb(193, 193, 193);
}

/* Media Queries */

@media only screen and (max-width: 1480px) {
  .sidebar-content .sidebar-logo {
    width: 150px;
    margin: 0 10px;
    background-color: transparent;
    margin-bottom: 5px;
    margin-top: 3px;
  }

  .sidebar_header {
    display: flex;
    padding: 7px 0px;
    justify-content: center;
    margin: 0 10px;
    align-items: center;
    /* margin-left: 10px; */
  }

  /*Add New Campaign  Button*/

  .btn-link-add {
    margin: 1px 5px;
  }

  .add-button {
    padding: 4px 6px;
    font-size: 15px;
    font-weight: 500;
  }

  .add-button p {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    /* gap: 7px; */
  }

  .add-btn-icon {
    margin-top: 5px;
    height: 18px;
    width: 18px;
    font-weight: bold;
  }


  .top .normallink .icon-img,
  .bottom .sidebar-link-bottom .normallink .icon-img {
    width: 24px;
    height: 24px;
  }


  .top .normallink,
  .bottom .normallink {

    padding-top: 10px;
    padding-bottom: 10px;

  }

  .icon-text,
  .sidebar-link-bottom .icon-text {
    display: block;
    font-weight: 500;
    font-size: 20px;
  }

  .bottom .sidebar-link-bottom .normallink {
    font-size: 20px;
    align-items: center;
  }

  .icon-img,
  .sidebar-link-bottom .icon-img {
    width: 20px;
    height: 20px;
  }

  .bottom .sidebar-link-bottom .normallink .icon-text {
    font-size: 20px;
  }

  .sidebar-link-bottom a {
    margin-top: 8px;
  }

  .bottom .sidebar-link-bottom .normallink {
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 20px;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 1050px) {
  .sidebar_header {
    display: flex;
    font-size: 12px;
    padding: 5px 3px;
    justify-content: flex-start;
    align-items: center;
  }

  .sidebar-content .sidebar-logo {
    width: 130px;
    margin: 0 10px;
    background-color: transparent;
    margin-bottom: 5px;
    margin-top: 3px;
    margin-right: 15px;
  }

  /*Add New Campaign  Button*/

  .btn-link-add {
    margin: 10px 5px;
  }

  .add-button {
    padding: 7px 2px;
    font-size: 14px;
    font-weight: 500;
  }

  .add-button p {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    gap: 4px;
  }

  .add-btn-icon {
    margin-top: 5px;
    height: 18px;
    width: 18px;
    font-weight: bold;
  }

  .top .normallink .icon-img,
  .bottom .sidebar-link-bottom .normallink .icon-img {
    width: 18px;
    height: 18px;
  }

  .top .normallink,
  .bottom .normallink {

    padding-top: 6px;
    padding-bottom: 6px;

  }

  .icon-text,
  .sidebar-link-bottom .icon-text {
    display: block;
    font-weight: 500;
    font-size: 16.5px;
  }

  .bottom .sidebar-link-bottom .normallink {
    font-size: 18px;
    align-items: center;
  }

  .icon-img,
  .sidebar-link-bottom .icon-img .sidebar-add-btn .add-icon-img {
    width: 20px;
    height: 20px;
  }

  .bottom .sidebar-link-bottom .normallink .icon-text {
    font-size: 14.5px;
  }

  .sidebar-link-bottom a {
    margin-top: 4px;
  }

  .bottom .sidebar-link-bottom .normallink {
    padding-top: 10px;
    padding-bottom: 7px;
    gap: 20px;
    margin-bottom: 7px;
  }
}

@media only screen and (max-width: 786px) {
  .sidebar-content .sidebar-logo {
    width: 130px;
    margin: 0 10px;
  }
  .sidebar_header {
    display: flex;
    padding: 6px 0px;
    justify-content: space-between;
    align-items: center;
    margin: 0 15px;
    margin-bottom: 4px;
  }

  .close-menubtn {
    display: block;
    height: 22px;
    width: 22px;
    font-weight: bold;
  }

  .sidebar-content .sidebar-logo{
    margin-right: 15px;
  }

  .icon-img {
    width: 22px;
    height: 22px;
  }

  .icon-img img {
    width: 24px;
    height: 24px;
  }

  .icon-text,
  .sidebar-link-bottom .icon-text {
    display: block;
    font-weight: 500;
    font-size: 22px;
  }

  .top .normallink,
  .bottom .sidebar-link-bottom .normallink {
    font-size: 22px;
    align-items: center;
  }

  .bottom .sidebar-link-bottom .normallink .icon-text {
    font-size: 19px;
  }

  .sidebar-link-bottom a {
    margin-top: 8px;
  }

  .bottom .sidebar-link-bottom .normallink {
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 20px;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 500px) {
  .sidebar-content .sidebar-logo{
    margin: 0 5px;
    margin-right: 10px;
  }

  .sidebar_header {
    display: flex;
    padding: 10px 5px;
    margin: 0 20px;
  }

  .close-menubtn {
    display: block;
    height: 22px;
    width: 22px;
    font-weight: bold;
  }

  .btn-link-add {
    margin: 5px 5px;
  }

  .add-button {
    padding: 5px 4px;
    font-size: 15px;
    font-weight: 500;
  }


  .icon-text {
    display: block;
    font-weight: 500;
    font-size: 17px;
  }

  /* .top .normallink, */
  .bottom {
    /* display: flex; */
    font-weight: 500;
    font-size: 15px;
    align-items: center;
    padding-top: 2px;
    padding-bottom: 1.5px;
    gap: 20px;
    margin-bottom: 20px;
    /* margin-left: 20px; */
  }

  /* Active Link */
  .activelink {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 14px;
  }

  .sidebar-link-bottom a {
    margin-top: 5px;
  }

  /* In-Active Links */

  .top .normallink,
  .bottom .normallink {
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}