.social-section {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  height: 100%;
}

.social-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.social-icons {
  font-size: 34px;
  color: rgb(89, 88, 88);
}
.social-title h3 {
  font-size: 2rem;
  font-weight: 700;
}

.referral-link-input {
  width: 100%;
}

.referral-input {
  height: 80px;
  width: 500px;
  border: none;
  font-size: 16px;
  color: #dedddd;
  padding: 8px 17px;
  background-color: #25242d;
}

@media screen and (max-width: 500px) {
  .social-section {
    padding: 20px;
    margin: 10px;
  }
}
