.card-block {
  height: 400px;
  width: 260px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.card-block h2 {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  font-size: 22px;
}

.feature {
  display: flex;
  /* justify-content: flex-start; */
  align-items: center;
}

.feature .check-icon {
  color: var(--secondary-text-colors)
}

.feature p:first-child {
  color: white;
}

.feature p {
  color: rgb(194, 187, 187);
  font-size: 14spx;
}

.card-content .card-slug {
  display: flex;
  justify-content: center;
  text-decoration: underline;
  font-size: 22px;
}

.price-tag {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  bottom: 0;
}

.price-tag p {
  margin-top: 18px;
  font-size: 20px;
  margin-bottom: 5px;
}

.subscribed-btn {
  height: 40px;
  background-color: rgb(233, 229, 229);
  width: 120px;
  display: flex;
  justify-content: center;
  border: none;
  align-items: center;
  text-align: center;
  border-radius: 25px;
  color: black;
  cursor: pointer;
  font-size: 17px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.subscribed-btn.subscribed {
  height: 40px;
  background-color: #635da1;

  width: 120px;
  display: flex;
  justify-content: center;
  border: none;
  align-items: center;
  text-align: center;
  border-radius: 25px;
  color: rgb(252, 252, 252);
  cursor: pointer;
  font-size: 18px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;

}

.subscribed-btn:hover {
  background-color: #cfcbcb;
}

@media screen and (max-width: 1050px) {
  .card-block {
    height: 100%;
    width: 250px;
  }
}

@media screen and (max-width: 500px) {
  .card-block {
    height: 300px;
    width: 270px;
  }
}