.card-block {
  height: 370px;
  width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: none;
  box-shadow: 1px 0.5px 4px 1px #796d6d;
  padding: 15px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.card-block h2 {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  font-size: 22px;
}

.feature {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.feature .check-icon {
  color: var(--secondary-text-colors)
}

.feature p:first-child {
  color: white;
}

.feature p {
  color: rgb(194, 187, 187);
  font-size: 14px;
}

.card-content .card-slug {
  display: flex;
  justify-content: center;
  text-decoration: underline;
  font-size: 22px;
}

.price-tag {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  bottom: 0;
}

.price-tag p {
  margin-top: 18px;
  font-size: 20px;
  margin-bottom: 5px;
}

.subscribed-btn {
  height: 40px;
  background-color: rgb(233, 229, 229);
  width: 120px;
  display: flex;
  justify-content: center;
  border: none;
  align-items: center;
  text-align: center;
  border-radius: 25px;
  color: black;
  cursor: pointer;
  font-size: 17px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.subscribed-btn {
  height: 40px;
  background-color: #635da1;
  width: 170px;
  display: flex;
  justify-content: center;
  border: none;
  align-items: center;
  text-align: center;
  border-radius: 25px;
  color: rgb(252, 252, 252);
  cursor: pointer;
  font-size: 16px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;

}

.subscribed-btn:hover {
  background-color: #eee8e8;
  color: black;
  font-size: 16.5px;
  box-shadow: 1px 0.5px 4px 3px #7f7d7d;


}


@media screen and (max-widht:1480px) {
  .card-block {
    height: 370px;
    width: 270px;
    /* width: 100%; */
    line-height: 1.2;
    padding: 15px;

  }

}

@media screen and (max-widht:1250px) {
  .card-block {
    height: 370px;
    width: 260px;
    line-height: 1.2;
    padding: 15px;

  }

}

@media screen and (max-width: 1050px) {
  .card-block {
    height: 100%;
    width: 216px;
  }

  .card-block h2 {
    font-size: 19px;
  }

  .price-tag p {
    font-size: 18px;
  }

  .subscribed-btn {
    font-size: 16px;
  }
}

@media screen and (max-width: 786px) {
  .card-block {
    height: 100%;
    width: 240px;
  }

  .card-block h2 {
    font-size: 19px;
  }

  .feature{
    font-size: 17px;
  }

  .price-tag p {
    font-size: 17px;
  }

  .subscribed-btn {
    font-size: 17px;
  }
}



@media screen and (max-width: 500px) {
  .card-block {
    height: 100%;
    margin: 0 5px;
    width: 100%;
  }
  .card-block h2 {
    font-size: 15px;
  }

  .feature{
    font-size: 14px;
  }

  .card-content .feature p{
    font-size: 11px;
  }
  .price-tag p {
    font-size: 14px;
  }

  .subscribed-btn {
    font-size: 15px;
  }
}