.user-container {
  margin: 1% 1.2%;
}

.account-section,
.account-section-light {
  padding: 10px 10px;
  margin: 5px 12px;
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: space-between;
}

.account-section-light {
  color: #1b1a21;
}

/* Title  */
.account-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.account-title h2 {
  font-size: 22px;
  font-weight: 700;
}

.account-section-light .account-title h2{
  color:#1b1a21;
}

/* Save Btn */
.account-section button,
.account-section-light button {
  float: right;
}

.account-section .error-message {
  color: rgba(223, 38, 62, 0.89);
  font-size: 13px;
}

/* Contact And  Billing Details */
.contact-details,
.billing-details,
.contact-details-light,
.billing-details-light {
  background-color: #1b1a21;
  padding: 25px 35px;
  margin: 20px 5px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.contact-details-light,
.billing-details-light {
  background-color: #fcfcfc;
  color: #1b1a21;
  border: 1px solid #dbdcef;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.contact-details .contact-header,
.contact-details-light .contact-header {
  display: flex;
  /* justify-content: space-between; */
  /* align-items: center; */
}

.contact-header span {
  cursor: pointer;
}

.billing_table {
  margin: 20px 0;
  margin-top: 30px;
  width: 80%;
  border: none;
  /* border-radius: 10px; */
  /*border: 1px solid rgb(28, 0, 128);
  */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

[data-column-id="charge_name"].rdt_TableCol {
  border-top-left-radius: 10px;
}

[data-column-id="charge_date"].rdt_TableCol {
  border-top-right-radius: 10px;
}

.carousel {
  border: 1px solids green;
  /* margin: 0 5px; */
  margin-top: 20px;
  width: 100%;
  height: 415px;
  display: flex;
  /* flex-wrap: no-wrap; */
  justify-content: space-between;
  align-items: flex-stsart;
  gap: 1rem;
}

.billing-cards {
  margin-top: 30px;
  display: flex;
  gap: 20px;
  /* padding-bottom: 15px; */
  display: flex;
  /* border: 1px solid green; */
}

/* Billing Card */

.billing-card {
  border-radius: 10px;
  background-color: var(--secondary-text-color);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.billing-card-light {
  background-color: #f5f5f5;
}

.billing-card {
  flex: 0 0 200px;
  opacity: 1;
  transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
}

.contact-details h3,
.billing-details h3 {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 15px;
}

/* Contact Details Form */

.account-section,
.account-section-light {
  line-height: 1.7;
}

.form-input-group {
  display: flex;
  justify-content: space-evenly;
}

.inputfield {
  display: flex;
  flex-direction: column;
}

.form-input-group label {
  font-size: 17px;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 04px;
  color: rgb(200, 199, 199);
}

.contact-details-light .form-input-group label {
  color: #1b1a21;
}
.account-section input,
.account-section-light input {
  background-color: rgba(41, 40, 40, 0.921);
  border: none;
  padding: 25px 17px;
  border-radius: 22px;
  height: 37px;
  color: white;
  width: 500px;
  font-size: 16px;
  font-weight: 500;
  -webkit-border-radius: 22px;
  -moz-border-radius: 22px;
  -ms-border-radius: 22px;
  -o-border-radius: 22px;
}

.account-section-light input {
  color: #1b1a21;
  background-color: #f5f5f5;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.17);
}

.contact-details-light h3,
.billing-details-light h3 {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 15px;
}

.btnSave {
  height: 40px;
  background-color: rgb(222, 220, 220);
  width: 120px;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  border: none;
  align-items: center;
  text-align: center;
  border-radius: 25px;
  color: black;
  cursor: pointer;
  font-size: 21px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.btnSave:hover,
.btnSave:focus {
  background-color: rgb(242, 237, 237);
  box-shadow: 1px 0.5px 4px 3px #7f7d7d;
}

.spinner {
  width: 56px;
  height: 56px;
  margin-left: 50%;
  margin-top: 10%;
  display: grid;
  border: 4.5px solid #0000;
  border-radius: 50%;
  border-color: #dbdcef #0000;
  animation: spinner-e04l1k 1s infinite linear;
}

.spinner::before,
.spinner::after {
  content: "";
  grid-area: 1/1;
  margin: 2.2px;
  border: inherit;
  border-radius: 50%;
}

.spinner::before {
  border-color: #474bff #0000;
  animation: inherit;
  animation-duration: 0.5s;
  animation-direction: reverse;
}

.spinner::after {
  margin: 8.9px;
}

@keyframes spinner-e04l1k {
  100% {
    transform: rotate(1turn);
  }
}

.rdt_TableCol {
  background-color: #282727;
  border: 1px solid rgb(245, 242, 242);
}

.rdt_TableHeadRow {
  border: none;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom: 1px solid rgb(239, 239, 239);
}

.rdt_TableCell {
  border: 1px solid rgb(214, 208, 208);
  border-right: 1px solid rgb(249, 246, 246);
}

[data-column-id="charge_name"].rdt_TableCol {
  border-top-left-radius: 10px;
}

[data-column-id="charged_date"].rdt_TableCol {
  border-top-right-radius: 10px;
}

@media screen and (max-width: 1480px) {
  .account-section input,
  .account-section-light input {
    width: 380px;
  }

  .carousel {
    width: 100%;
    height: 100%;
    display: flex;
    /* flex-directions: column; */
    justify-content: space-between;
    /* align-items: center; */
    /* border: 1px red; */
  }

  .billing-cards {
    margin-top: 30px;
    display: flex;
    gap: 20px;
    padding-bottom: 15px;
    display: flex;
  }
}

@media screen and (max-width: 1250px) {
  .contact-details,
  .contact-details-light,
  .billing-details,
  .billing-details-light {
    width: 100%;
    background-color: #1b1a21;
    padding: 46px;
  }

  .contact-details-light,
  .billing-details-light {
    background-color: #fcfcfc;
    color: #1b1a21;
    border: 1px solid #dbdcef;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  }

  .account-section input,
  .account-section-light input {
    width: 370px;
  }

  .account-section,
  .account-section-light {
    flex-direction: column;
  }

  .carousel {
    margin: 0 5px;
    width: 100%;
    height: 415px;
    display: flex;
    flex-wrap: no-wrap;
    justify-content: space-between;
    gap: 1rem;
  }
}

@media screen and (max-width: 1050px) {
  .account-section,
  .account-section-light {
    margin-left: 2%;
    padding: 5px 10px;
    margin: 5px 12px;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: space-between;
  }

  .contact-details,
  .contact-details-light,
  .billing-details-light,
  .billing-details {
    width: 100%;
    background-color: #1b1a21;
    padding: 40px;
  }

  .billing-details,
  .billing-details-light {
    background-color: #1b1a21;
    padding: 25px 15px;
    margin: 20px 0;
    border-radius: 10px;
  }
  .billing-details-light,
  .contact-details-light {
    background-color: #fcfcfc;
    color: #1b1a21;
    border: 1px solid #dbdcef;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  }

  .account-section input,
  .account-section-light input {
    width: 310px;
    height: 48px;
  }

  .account-section,
  .account-section-light {
    flex-direction: column;
  }

  .carousel {
    margin: 0 5px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: no-wrap;
    justify-content: space-between;
    gap: 0.2rem;
  }

  .billing_table {
    width: 75%;
  }
}

@media screen and (max-width: 786px) {
  .account-section input,
  .account-section-light input {
    width: 100%;
  }

  .form-input-group {
    flex-direction: column;
    justify-content: center;
  }

  .billing-details,
  .billing-details-light {
    padding: 25px 30px;
    margin: 20px 0;
    border-radius: 10px;
  }

  .carousel {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
  }

  .billing_table {
    max-width: 100%;
  }

  .billing-cards {
    margin: 20px;
  }
}

/* Mobile View */

@media screen and (max-width: 500px) {
  .account-section,
  .account-section-light {
    justify-content: space-between;
  }

  .contact-details,
  .billing-details {
    width: 100%;
    background-color: #1b1a21;
  }

  .contact-details-light,
  .billing-details-light {
    width: 100%;
  }

  .billing-details h3,
  .billing-details-light h3,
  .contact-details h3,
  .contact-details-light h3 {
    font-size: 20px;
  }

  .billing-details p,
  .billing-details-light p {
    font-size: 14px;
  }

  .account-section,
  .account-section-light {
    flex-direction: column;
    padding: 10px 4px;
    margin: 5px 0px;
  }

  .form-input-group {
    flex-direction: column;
    justify-content: center;
  }

  .account-section input,
  .account-section-light input {
    width: 100%;
  }

  .btnSave {
    height: 40px;
    width: 105px;
    font-size: 17px;
  }

  .carousel {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: no-wrap;
    justify-content: space-between;
    gap: 0.2rem;
  }

  .billing-card,
  .billing-card-light {
    flex: 0 0 130px;
  }

  .billing_table {
    width: 100%;
  }

  .billing-cards {
    margin-top: 30px;
    padding-bottom: 5%;
  }
}
