.pricing-container,
.pricing-container-light {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  color: #fff;
  margin-left: 1%;
}

.pricing-container-light {
  color: #1b1b1b;
  background-color: #fff;
  
}
.pricing-title h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

.price-details-container {
  height: 100%;
  width: 97%;
  padding: 15px 25px;
  overflow: hidden;
  
}

.action-click-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  cursor: pointer;
}

.price-block {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 15px;
  /* overflow: hidden; */
}

.pricing-card:first-child,
.pricing-card-light:first-child {
  background-color: var(--secondary-color);
  color: #fff;
}

.pricing-card button:first-child,
.pricing-card-light button:first-child {
  background-color: var(--secondary-color);
}

.pricing-card,
.pricing-card-light {
  flex: 0 0 300px;
  margin-right: 10px;
  opacity: 0.65;
  transition: opacity 0.5s;
  border-radius: 12px;
  background-color: var(--secondary-text-color);
}

.pricing-card-light{
  opacity: 0.7;
}

.pricing-card:hover,
.pricing-card-light:hover {
  opacity: 1;
  cursor: pointer;
}

.pricing-card-light {
  background-color: #fff;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  color: #1b1b1b;
}

.pricing-card.active{
  opacity: 1;
  border:1px solid goldenrod;
}
.pricing-card-light.active {
  opacity: 1;
  border:1px solid green;
}


.pricing-card:last-child,
.pricing-card-light:last-child {
  margin-right: 0;
}

.clickPrev,
.clickNext,
.clickPrev-light,
.clickNext-light {
  height: 40px;
  width: 40px;
  padding: 10px;
  background-color: transparent;
  border: none;
  color: white;
  border: 1px solid gray;
  cursor: pointer;
  border-radius: 50%;
}

.clickNext-light,
.clickPrev-light {
  background-color: rgb(210, 208, 208) bab;
  color: #2c2b2b;
}

.clickPrev:hover,
.clickNext:hover {
  background-color: var(--secondary-text-color);
  box-shadow: 0 3px 10px rgb(255 255 255 / 0.2);
}
.clickNext-light:hover,
.clickPrev-light:hover {
  background-color: #fff;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  color: #070707;
}

.spinner {
  width: 56px;
  height: 56px;
  margin-left: 50%;
  margin-top: 10%;
  display: grid;
  border: 4.5px solid #0000;
  border-radius: 50%;
  border-color: #dbdcef #0000;
  animation: spinner-e04l1k 1s infinite linear;
}

.spinner::before,
.spinner::after {
  content: "";
  grid-area: 1/1;
  margin: 2.2px;
  border: inherit;
  border-radius: 50%;
}

.spinner::before {
  border-color: #474bff #0000;
  animation: inherit;
  animation-duration: 0.5s;
  animation-direction: reverse;
}

.spinner::after {
  margin: 8.9px;
}

.pricing-add-ons {
  margin: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-on-card,
.add-on-card-light {
  padding: 20px 60px;
  border-radius: 13px;
  background-color: var(--secondary-text-color);
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  -ms-border-radius: 13px;
  -o-border-radius: 13px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.add-on-card-light {
  background-color: #fff;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.add-on-card h2,
.add-on-card-light h2 {
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 700;
  color: ghostwhite;
  text-decoration: underline;
}

.add-on-card div,
.add-on-card-light div {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
}
.add-on-card-light h2,
.add-on-card-light label {
  color: #0a0a0a;
}
.add-on-card input,
.add-on-card-light input {
  height: 20px;
  width: 20px;
  border-radius: 10px;
  border: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.add-on-card .price-tag,
.add-on-card-light .price-tag {
  font-size: 23px;
  font-weight: 700;
}

.add-on-card .confirmation-btn,
.add-on-card-light .confirmation-btn {
  margin-top: 1rem;
  justify-content: center;
  align-items: center;
}

@keyframes spinner-e04l1k {
  100% {
    transform: rotate(1turn);
  }
}

@media only screen and (max-width: 2190px) {
  .price-details-container {
    padding: 20px 10px;
  }
}

@media only screen and (max-width: 768px) {
  .price-details-container {
    overflow: hidden;
    padding-left: 0.11%;
  }

  .price-block {
    margin-top: 20px;
    display: flex;
    gap: 15px;
    /* flex-direction: column; */
  }

  .pricing-title h2 {
    font-size: 17px;
  }
}

@media only screen and (max-width: 500px) {
  .price-details-container {
    padding: 10px;
    /* margin: 0 20px; */
    padding-left: 1%;
  }

  .price-block {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    /* flex-direction: column; */
  }

  .pricing-add-ons {
    margin: 30px 20px;
  }
}
