.pricing-container {
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  color: #fff;
}

.pricing-title h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

.price-details-container {
  /* border: 2px solid red; */
  height: 100%;
  width: 100%;
  padding: 0 25px;
}

.action-click-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  cursor: pointer;
}

.price-block {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 15px;
  /* overflow: hidden; */
}

.pricing-card:first-child {
  background-color: var(--secondary-color);

}


.pricing-card button:first-child {
  background-color: var(--secondary-color);
}


.pricing-card {
  flex: 0 0 300px;
  margin-right: 10px;
  opacity: 0.5;
  transition: opacity 0.5s;
  border-radius: 12px;
  background-color: var(--secondary-text-color);

}

.pricing-card.active {
  opacity: 1;
}

.pricing-card:last-child {
  margin-right: 0;
}

.clickPrev,
.clickNext {
  height: 40px;
  width: 40px;
  padding: 10px;
  background-color: transparent;
  border: none;
  color: white;
  border: 1px solid gray;
  cursor: pointer;
  border-radius: 50%;

}

.clickPrev:hover,
.clickNext:hover {
  background-color: var(--secondary-text-color);
}


.spinner {
  width: 56px;
  height: 56px;
  margin-left: 50%;
  margin-top: 10%;
  display: grid;
  border: 4.5px solid #0000;
  border-radius: 50%;
  border-color: #dbdcef #0000;
  animation: spinner-e04l1k 1s infinite linear;
}

.spinner::before,
.spinner::after {
  content: "";
  grid-area: 1/1;
  margin: 2.2px;
  border: inherit;
  border-radius: 50%;
}

.spinner::before {
  border-color: #474bff #0000;
  animation: inherit;
  animation-duration: 0.5s;
  animation-direction: reverse;
}

.spinner::after {
  margin: 8.9px;
}

@keyframes spinner-e04l1k {
  100% {
    transform: rotate(1turn);
  }
}


@media only screen and (max-width: 2190px) {
  .price-details-container {
    padding: 10px;
  }
}

@media only screen and (max-width: 768px) {
  .price-details-container {
    overflow: hidden;
    padding-left: 0.11%;
  }

  .price-block {
    margin-top: 20px;
    display: flex;
    gap: 15px;
    /* flex-direction: column; */
  }

  .pricing-title h2 {
    font-size: 17px;

  }
}

@media only screen and (max-width: 500px) {
  .price-details-container {
    padding: 10px;
    margin: 0 20px;
    padding-left: 0.1%;
  }

  .price-block {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    /* flex-direction: column; */
  }
}