.pricing-container {
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  color: #fff;
}

.pricing-title h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

.price-details-container {
  height: 100%;
  width: 100%;
 
}

.price-block {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  

}

@media only screen and (max-width: 2190px) {
  .price-details-container {
    padding: 10px;
  }
}

@media only screen and (max-width: 768px) {
  .price-details-container {
    overflow: auto;
    padding-left: 0.11%;
  }

  .price-block {
    margin-top: 20px;
    display: flex;
    gap: 15px;
    flex-direction: column;
  }

  .pricing-title h2 {
    font-size: 17px;

  }
}

@media only screen and (max-width: 500px) {
  .price-details-container {
    padding: 10px;
    margin: 0 20px;
    padding-left: 0.1%;
  }

  .price-block {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    flex-direction: column;
  }
}