.skeleton,
.skeleton-light {
  background: rgb(227, 226, 226);
  margin: 0.75rem 0;
  border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
}

.skeleton.values,
.skeleton-light.values {
  height: 0.75rem;
  background: rgb(77, 77, 77);
}
.skeleton.title,
.skeleton-light.title {
  height: 1rem;
  background: rgb(77, 77, 77);
  margin-bottom: 1rem;
}

.skeleton.width-100,
.skeleton-light.width-100 {
  width: 100%;
}
.skeleton.width-50,
.skeleton-light.width-50 {
  width: 50%;
}
.skeleton.img,
.skeleton-light.img {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background: rgb(77, 77, 77);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.skeleton-light.title,
.skeleton-light-values,
.skeleton-light.img,
.skeleton-light.width-50,
.skeleton-light.width-100{
  background-color: #f1eeee;
 
}

/* Animations */

@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}

.animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0 0.6, 1) infinite;
  -webkit-animation: pulse 2s cubic-bezier(0.4, 0 0.6, 1) infinite;
}



@media screen and (max-width:786px) {
  
}