.support-container {
  color: white;
  margin: 30px ;
  margin-left: 2%;
  padding: 35px;
}

.top-description {
  font-size: 22px;
  line-height: 1.4;
}

.top-description p {
  margin-left: 2%;
  margin-bottom: 30px;
}

.top-description a {
  color: var(--secondary-color);
  text-decoration: underline;
}

.section-form h2 {
  font-size: 30px;
  font-weight: 700px;
  margin-bottom: 20px;
}

.section-form {
  padding: 20px;
  margin: 0 20px;
  height: 100%;
}



.support-form {
  width: 100%;
  height: 100%;
  padding: 50px 30px;
  margin-top: 40px;
  margin: 0 20px;
  background-color: var(--secondary-text-color);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.support-google-form {
  /* height: 100%; */
  width: 100%;
}

.file-links {
  display: flex;
  gap: 30px;
  /* justify-content: space-between; */
  align-items: center;
}

.link-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.link-input label {
  margin: 6px;
  font-size: 17px;
}

.link-input input {
  width: 400px;
  background-color: rgba(56, 54, 54, 0.894);
  height: 40px;
  border: none;
  padding: 14px;
  color: #fff;
  font-size: 23px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.attach-links {
  margin-right: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.attach-links label {
  font-size: 20px;
}

.text-issue .issue-textfield {
  margin-top: 10px;
  width: 100%;
  height: 300px;
  border-radius: 12px;

  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  -webkit-border-radius: 12px;
}

.issue-textfield {
  padding: 20px;
  color: white;
  font-size: 23px;
  border: none;
  margin-bottom: 10px;
  background-color: rgba(56, 54, 54, 0.894);
}

.submit-btn {
  float: right;
  height: 50px;
  background-color: rgb(233, 229, 229);
  width: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 25px;
  color: black;
  cursor: pointer;
  font-size: 23px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}



.spinner {
  width: 56px;
  height: 56px;
  display: grid;
  border: 4.5px solid #0000;
  border-radius: 50%;
  border-color: #dbdcef #0000;
  animation: spinner-e04l1k 1s infinite linear;
}

.spinner::before,
.spinner::after {
  content: "";
  grid-area: 1/1;
  margin: 2.2px;
  border: inherit;
  border-radius: 50%;
}

.spinner::before {
  border-color: #474bff #0000;
  animation: inherit;
  animation-duration: 0.5s;
  animation-direction: reverse;
}

.spinner::after {
  margin: 8.9px;
}

@keyframes spinner-e04l1k {
  100% {
    transform: rotate(1turn);
  }
}


/* Media Queries */
@media only screen and (max-width: 1480px) {
  .support-container {
    margin: 38px;
    margin-top: 30px;
    padding: 21px;
  }

  .support-form {
    width: 100%;
    padding: 20px;
  }

  .file-links {
    flex-direction: column;
    gap: 10px;
    margin-left: 20px;
    justify-content: center;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 1280px) {
  .support-container {
    margin: 18px;
    margin-top: 10px;
    padding: 14px 21px;
    margin-left: 3%;
  }

  .support-form {
    width: 100%;
    padding: 20px;
  }

  .file-links {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
  }

  .link__input {
    margin-bottom: 30px;
    display: flex;
  }
}

@media only screen and (max-width: 786px) {
  .support-container {
    margin: 15px;
    margin-top: 30px;
    padding: 5px;
  }

  .support-form {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .section-form {
    padding: 17px;
    margin: 7px;
    height: 100%;
  }

  .file-links {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    margin-left: 1px;
  }

  .link-input input {
    width: 320px;
  }

  .text-issue {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 500px) {
  .support-container {
    margin: 5px;
    margin-top: 30px;
    padding: 12px;
  }

  .support-form {
    width: 370px;
    padding: 8px;
    margin: 13px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .section-form {
    padding: 13px;
    margin: 10px;
    height: 100%;
  }

  .file-links {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .link-input input {
    width: 300px;
  }

  .text-issue {
    margin-top: 20px;
  }
}